#banner {
  position: fixed;
  top: 25%;
  background-color: cornflowerblue;
  padding: 100px;
  width: 100%;
  opacity: 0.9;
}

html {
  overflow: hidden;
}

body {
  /*background-image: url('https://media.gq-magazine.co.uk/photos/5d13a8d57fcc8eec75821063/16:9/w_1920,c_limit/boris-johnson-03-gq-10jun19_getty_b.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
}

#bg {
  background-image: url('img/coviduk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-wrapper1 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}
.parallax-wrapper1::before {
  content:"";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('img/coviduk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}
.regular-wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
    z-index: 2;
    position: relative;
    background-color: cornflowerblue;
    /* background-image: url('img/dohsc.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
}

.regular-wrapper-big {
  width: 100vw;
  height: auto;
  padding-top: 20vh;
  padding-bottom: 20vh;
  z-index: 2;
  position: relative;
  background-color: cornflowerblue;
  /* background-image: url('img/dohsc.jpg');
  background-size: cover;
  background-repeat: no-repeat; */
}

.content {
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  background: whitesmoke;
  opacity: 0.9;
}

.content-stat {
  margin: 0 auto;
  padding: 50px;
  width: 100%;
  height: 50%;
  background: cornflowerblue;
  opacity: 0.9;
}


.parallax-wrapper2 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}
.parallax-wrapper2::before {
  content:"";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('img/borishappy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.parallax-wrapper3 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}
.parallax-wrapper3::before {
  content:"";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('img/dohsc.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.parallax-wrapper4 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}
.parallax-wrapper4::before {
  content:"";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('img/borisrishi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.parallax-wrapper5 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}
.parallax-wrapper5::before {
  content:"";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('img/ppe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

#graph {
  position: relative;
  left: 25%
}

.button {
  padding: 10px;
  border-radius: 25px;
  background-color: cornflowerblue;
}

h1, h5, h3 {
  font-style: italic;
}
