<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        <div class='row text-center'>
            <h1>Who Wants To Be a Millionaire?</h1>
        </div>
        <div class='row'>
            <!-- <img src="background.jpg" class='center'> -->
        </div>
        <div class='row'>
            <h5>During the first few months of the pandemic the UK saw an ever-growing demand for Personal Protective Equipment. As a government Minister for the Department of Health, you have been tasked with supplying the NHS with PPE to help keep their vital staff members safe whilst treating those suffering from COVID-19. In order to supply this essential PPE to doctors and nurses throughout the country, do you:</h5>
        </div>
        <div class='row'>
            <div class='col-md-6 border'>
                <br>
                <a href='answer1wrong.html'><p>A: Choose a well-established company with experience producing and supplying PPE</p></a>
                <br>
            </div>
            <div class='col-md-6 border'>
                <br>
                <a href='answer1wrong.html'><p>B: Accept offers of help from companies who have volunteered their services during the pandemic</p></a>
                <br>
            </div>
            <div class='col-md-6 border'>
                <br>
                <a href='answer1wrong.html'><p>C: Utilise various local companies around the country in order to get the PPE to where it is needed as quickly as possible</p></a>
                <br>
            </div>
            <div class='col-md-6 border'>
                <br>
                <a href='answer1wrong.html'><p>D: Buy 400,000 gowns from a Turkish T-Shirt manufacturer</p></a>
                <br>
            </div>
            </form>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</html>